.button {
  cursor: pointer;
  width: max-content;
  margin: 5px 0px;
  font-family: 'Oswald';
  font-weight: 600;
  font-size: 1.2em;
  background-color: rgb(216, 224, 231);
  padding: 5px;
  transition: border-radius 0.5s linear, background-color 0.5s linear;
  &:hover {
    border-radius: 5px;
    background-color: rgb(251, 252, 254);
  }
}
