.bottonSubmit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button_form {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(216, 224, 231);
  font-family: 'Oswald';
  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
  width: max-content;
  margin: 0px auto;
  padding: 5px 32px;
  cursor: pointer;
  transition: border-radius 0.5s linear, background-color 0.5s linear;
}

.button_form:hover {
  border-radius: 5px;
  background-color: rgb(251, 252, 254);
}

.button_form_off {
  cursor: none;
  color: rgb(101, 101, 101);
}

.button_form_off:hover {
  border-radius: 0px;
  background-color: rgb(216, 224, 231);
}

@media (hover: none) and (pointer: coarse) {
  .button_form_off:hover {
    border-radius: 0px;
    background-color: rgb(216, 224, 231);
  }
}

@media (hover: none) and (pointer: coarse) {
  .button_form:hover {
    border-radius: 0px;
    background-color: rgb(216, 224, 231);
  }
}
